@import "tailwindcss";

@theme {
  --color-custom-orange: #ef8450;
  --color-primary: #10393b;
  --color-green-gray: #B7C2C2;
  --color-custom-black: #2e3e3f;
  --color-custom-green: #01B990;
  --color-light-green: #01B990;
  --color-juicy-ornge: #EF8450;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

